description = "Default layout"
==
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <title>Uzzpro CMS - {{ this.page.title }}</title>
        <meta name="author" content="Uzzpro CMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

        {% styles %}
        <link href="{{ [
            'assets/css/theme.css',
            'assets/css/bootstrap-theme.min.css',
            'assets/css/coming-soon-social.css',
            'assets/css/icomoon-social.css',
            'assets/css/leaflet.css',
            'assets/css/main-green.css',
            'assets/css/main.css',
            'assets/css/theme.css'
        ]|theme }}" rel="stylesheet">
    </head>
    <body>

        <!-- Header -->
        <header id="layout-header">
            {% partial "menu" %}

        </header>

        <!-- Content -->
        <section id="layout-content">
            {% page %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial "footer" %}
        </footer>

        <!-- Scripts -->
        <script src="{{ [
            'assets/javascript/jquery.js',
            'assets/javascript/app.js',
            'assets/javascript/bootstrap.min.js',
            'assets/javascript/jquery.fitvids.js',
            'assets/javascript/jquery.sequence-min.js',
            'assets/javascript/jquery.bxslider.js',
            'assets/javascript/main-menu.js',
            'assets/javascript/template.js'
        ]|theme }}"></script>
                <!-- Javascripts -->
        <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
        {% framework extras %}
        {% scripts %}

    </body>
</html>